<footer id="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="widget widget_contact">
          <h3 class="widget_title">Kira-dev.jp là?</h3>
          <p>Welcome! Kira-dev.jp là A non-profit, Q&A site, discussion and blogging platform.</p>
          <ul>
            <li>Hỗ trợ: support@kira-dev.jp</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget_title">日本語</h3>
          <ul>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget_title">Nhật bản</h3>
          <ul>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget_title">Liên kết nhanh</h3>
          <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="">Về chúng tôi</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="" target="_blank">Điều khoản</a></li>
          </ul>
        </div>
      </div>
    </div><!-- End row -->
  </section><!-- End container -->
</footer><!-- End footer -->
<footer id="footer-bottom">
  <section class="container">
    <div class="copyrights f_right">
      &copy;2016 | <a href="<?= $___env['webroot']?>">By Kira-dev.jp</a>
      &nbsp;&nbsp;<span class="f_right">rev 2016.07.07.001</span>
    </div>
  </section><!-- End container -->
</footer><!-- End footer-bottom -->
