<footer id="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="widget widget_contact">
          <h3 class="widget_title">Cùng <span style="font-size: larger">Onegai</span> chia sẻ tri thức</h3>
          <p>Onegai là dịch vụ hỏi đáp, thảo luận miễn phí về tiếng Nhật nói riêng và Nhật bản nói chung. Đừng ngại ngần
            chia sẻ với chúng tôi mọi thắc mắc của bạn, các thành viên thông thái của Onegai sẽ luôn cho bạn câu trả lời
            chính xác và đầy đủ nhất.</p>
          <p>Welcome! Onegai is a non-profit Q&A site. We are providing free Question&Answer and discussion service.</p>
          <ul>
            <li>Hỗ trợ: <a href="mailto:chienhedspi@gmail.com?Subject=Gửi%20Onegai" target="_top">support@onegai.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="widget">
          <h3 class="widget_title">Tiếng Nhật 日本語</h3>
          <ul>
            <a href="/questions/tag/1">&nbsp;JPLT N1&nbsp;</a>
            <a href="/questions/tag/2">&nbsp;JPLT N2&nbsp;</a>
            <a href="/questions/tag/3">&nbsp;JPLT N3&nbsp;</a>
            <a href="/questions/tag/4">&nbsp;Ngữ pháp&nbsp;</a>
            <a href="/questions/tag/5">&nbsp;Từ vựng&nbsp;</a>
            <a href="/questions/tag/6">&nbsp;Đọc hiểu&nbsp;</a>
            <a href="/questions/tag/7">&nbsp;Từ tượng thanh&nbsp;</a>
            <a href="/questions/tag/8">&nbsp;Dịch&nbsp;</a>
            <a href="/questions/tag/9">&nbsp;Kanji&nbsp;</a>
            <a href="/questions/tag/10">&nbsp;JPLT N4&nbsp;</a>
            <a href="/questions/tag/11">&nbsp;JPLT N5&nbsp;</a>
            <a href="/questions/tag/12">&nbsp;Kính ngữ&nbsp;</a>
            <a href="/questions/tag/13">&nbsp;Cụm từ&nbsp;</a>
            <a href="/questions/tag/14">&nbsp;Ý nghĩa từ&nbsp;</a>
            <a href="/questions/tag/15">&nbsp;Giới từ&nbsp;</a>
            <a href="/questions/tag/16">&nbsp;Hậu tố&nbsp;</a>
            <a href="/questions/tag/17">&nbsp;Katakana&nbsp;</a>
            <a href="/questions/tag/18">&nbsp;Phát âm&nbsp;</a>
            <a href="/questions/tag/19">&nbsp;Thành ngữ&nbsp;</a>
            <a href="/questions/tag/20">&nbsp;Tiếng lóng&nbsp;</a>
            <a href="/questions/tag/21">&nbsp;Trợ từ&nbsp;</a>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget_title">Nhật bản</h3>
          <ul>
            <a href="/questions/tag/22">&nbsp;Du học&nbsp;</a>
            <a href="/questions/tag/23">&nbsp;Làm kỹ sư&nbsp;</a>
            <a href="/questions/tag/24">&nbsp;Cuộc sống&nbsp;</a>
            <a href="/questions/tag/25">&nbsp;Làm thêm&nbsp;</a>
            <a href="/questions/tag/26">&nbsp;Sinh hoạt&nbsp;</a>
            <a href="/questions/tag/27">&nbsp;Kỹ năng sống&nbsp;</a>
            <a href="/questions/tag/28">&nbsp;Phỏng vấn baito&nbsp;</a>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="widget">
          <h3 class="widget_title">Link nhanh</h3>
          <ul>
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/about">Về chúng tôi</a></li>
            <li><a href="/contact">Liên hệ</a></li>
            <li><a href="#">Điều khoản</a></li>
          </ul>
        </div>
      </div>
    </div><!-- End row -->
  </section><!-- End container -->
</footer><!-- End footer -->
<footer id="footer-bottom">
  <section class="container">
    <div class="copyrights f_right">
      &copy;2016 | <a href="/">By Kira-dev.jp</a>
      &nbsp;&nbsp;<span class="f_right">rev 2016.07.07.001</span>
    </div>
  </section><!-- End container -->
</footer><!-- End footer-bottom -->
