<div class="row" style="margin-top:50px; margin-bottom:20px;">
  <div class="col-md-4">
    <div id="hlogo">
      <a href="/" style="margin-top:-34px;"></a>
    </div>
    <h3 style="display: inline;color:#000;font-size: 30px;"
        class="text-muted">clone</h3>
  </div>
  <div class="col-md-8 nav mainnavs">
    <ul ng-controller="menuCtrl" class="nav nav-pills s-menu">
      <li ng-class="{youarehere : url == '/'}"><a ui-sref="home">Home</a></li>
      <li ng-class="{youarehere : url == '/tags'}"><a ui-sref="tags">Tags</a></li>
      <li ng-class="{youarehere : url == '/users'}"><a ui-sref="users">Users</a></li>
      <li ng-class="{youarehere : url == '/questions/ask'}"
          class="pull-right">
        <a ui-sref="ask">Ask a question</a>
      </li>
    </ul>
  </div>
</div>