.thumbnails li> .fff .caption {
  background:#fff !important;
  padding:10px;
}

ul.thumbnails {
  margin-bottom: 0px;
}

.item-multiplier-x .item-multiplier-count{
  font-size: 12px;
}

/* Thumbnail Box */
.caption h4 {
  color: #444;
}

.caption p {
  color: #999;
}

/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
}
.carousel-control{
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}

li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }

.pagination {
  margin-right: 13px;
}
