<div class="row">

  <div class="col-md-9">
    <!--Question list-->
    <div class="tabs-warp question-tab">
      <!--Tab-->
      <ul class="tabs">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <li class="tab"><a ng-class="{selected : home.sort==='createdat DESC'}"
                             ng-click="home.sortQuestion('newest')">Mới nhất</a></li>
          <li class="tab"><a ng-class="{selected : home.sort === 'numbervote DESC'}"
                             ng-click="home.sortQuestion('votes')">Hot!</a></li>
          <li class="tab"><a ng-class="{selected : home.sort === 'numberreply ASC'}"
                             ng-click="home.sortQuestion('unanswered')">Chờ bạn trả lời</a></li>
        </div>
      </ul>
      <!--List-->
      <div class="tab-inner-warp" cg-busy="{promise:home.questionsPromise,message:'Onegai...',backdrop:true}">
        <div class="tab-inner">
          <article class="question question-type-normal" ng-repeat="q in home.questions">
            <h2>
              <a ui-sref="questions({ id:'{{q.id}}' })">{{q.title | limitTo: 100}}{{q.title.length > 100 ? '...' : ''}}</a>
            </h2>
            <span ng-repeat="tag in q.instance.tags"><a class="question-report">{{tag.name}}</a></span>
            <div class="question-author">
              <a href="#" class="question-author-img tooltip-n"><span></span>
                <img
                  src="http://www.gravatar.com/avatar/ac7bdf4ded5de62c679b302870464d7c?s=32&amp;d=identicon&amp;r=pg">
              </a>
            </div>
            <div class="question-inner">
              <div class="clearfix"></div>
              <div class="question-desc">
                {{q.content | limitTo: 210}}{{q.content.length > 210 ? '...' : ''}}
              </div>
              <div class="question-details">
                <span class="question-answered" ng-class="{
                  'question-answered-done' : q.numberreply > 0 && q.acceptedanswer
                  }">
                  <i class="fa fa-check"></i>{{q.numberreply > 0 && q.acceptedanswer ? 'solved' : 'in progress'}}
                </span>
              </div>
              <span class="question-favorite iam-subscribe" data-object-id="30">
                <i class="fa fa-star"></i>{{q.instance.actions.votes.users_upvote.length - q.instance.actions.votes.users_downvote.length}}
              </span>
              <span class="question-comment">
                  <a href="#"><i class="fa fa-comment"></i>{{q.numberreply}} trả lời</a>
              </span>
              <span class="question-view">
                <i class="fa fa-user"></i>{{q.numberviews}} lượt xem
              </span>
              <span class="question-date">
                <i class="fa fa-time"></i>{{q.createdat | date:"mediumDate"}}
              </span>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <!--Pagination-->
    <div class="pagination" ng-if="home.questions.length > 0">
      <pagination
        total-items="home.total_count"
        ng-model="home.page"
        max-size="5"
        class="pagination"
        boundary-links="true"
        force-ellipses="true"
        ng-change="home.loadPage(home.page)"
        first-text="Đầu"
        last-text="Cuối"
        next-text =">"
        previous-text="<">
      </pagination>
    </div>
  </div>

  <!-- Side bar -->
  <aside class="col-md-3 sidebar">

    <div class="widget widget_highest_points">
      <h3 class="widget_title">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-university" aria-hidden="true"></i> Danh tiếng</h3>
      <ul>
        <li ng-repeat="user in home.top_users">
          <div class="author-img">
            <a href="/user/{{user.id}}/{{user.username}}">
              <img src="http://www.gravatar.com/avatar/ac7bdf4ded5de62c679b302870464d7c?s=32&d=identicon&r=pg"
                   alt="Thành viên danh tiếng {{user.display_name}}">
            </a>
          </div>
          <h6><a href="/user/{{user.id}}/{{user.username}}">{{user.display_name}}</a></h6>
          <span class="comment">{{user.vote}} tiếng tăm</span>
        </li>
      </ul>
    </div>

    <div class="widget widget_tag_cloud">
      <h3 class="widget_title">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tags" aria-hidden="true"></i> Tags</h3>
      <a ng-repeat="tag in home.tags" href="/tags/{{tag.id}}/{{tag.slug}}">{{tag.name}}</a>
    </div>

    <div class="widget widget_recent_posts">
      <h3 class="widget_title">Câu hỏi mới</h3>
      <ul class="related-posts">
        <li class="related-item">
          <h3>
            <a href="/questions/28/collection-phalcon-tips-and-tricks">Collection Phalcon tips and tricks</a></h3>
          <div class="clear"></div>
          <span> Jul 29/15 at 06:58</span>
        </li>
        <li class="related-item">
          <h3>
            <a href="/questions/25/which-linux-distro-for-production-server">Which Linux distro for production
              server?</a></h3>
          <div class="clear"></div>
          <span> Jul 29/15 at 06:51</span>
        </li>
        <li class="related-item">
          <h3>
            <a href="/questions/1/wellcome-to-the-phanbook">Wellcome to the Phanbook</a></h3>
          <div class="clear"></div>
          <span> Jul 4/15 at 02:51</span>
        </li>
        <li class="related-item">
          <h3>
            <a href="/questions/21/phanbook-+-meetup-integration"> Phanbook + Meetup integration </a></h3>
          <div class="clear"></div>
          <span> Jul 19/15 at 03:48</span>
        </li>
        <li class="related-item">
          <h3>
            <a href="/questions/26/phalcon-206-released">Phalcon 2.0.6 released</a></h3>
          <div class="clear"></div>
          <span> Jul 29/15 at 06:55</span>
        </li>
      </ul>
    </div>

    <div class="widget widget_social">
      <h3 class="widget_title">Theo dõi Onegai qua</h3>
      <ul>
        <li class="rss-subscribers">
          <a href="#" target="_blank">
            <strong>
              <i class="fa fa-rss"></i>
              <span>Subscribe</span><br>
              <small>To RSS Feed</small>
            </strong>
          </a>
        </li>
        <li class="facebook-fans">
          <a href="#" target="_blank">
            <strong>
              <i class="social_icon-facebook fa fa-facebook"></i>
              <span>5,000</span><br>
              <small>People like it</small>
            </strong>
          </a>
        </li>
        <li class="twitter-followers">
          <a href="#" target="_blank">
            <strong>
              <i class="social_icon-twitter fa fa-twitter"></i>
              <span>3,000</span><br>
              <small>Followers</small>
            </strong>
          </a>
        </li>

      </ul>
    </div>
  </aside>
</div>
