<div class="row">
  <input type="text" ng-change="tagsModel.search()" ng-model="tagsModel.searchTag"></input>
  <div class="col-md-12">
    <div class="row carousel slide">
      <div class="carousel-inner">
        <div class="item active" ng-repeat="tag in tagsModel.tags">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="fff">
                <div class="caption">
                  <h4>
                    <a>{{tag.name}}</a>
                    <span class="item-multiplier">
                      &nbsp;<span class="item-multiplier-x">×</span>&nbsp;
                      <span class="item-multiplier-count">{{tag.numberposts}}</span>
                    </span>
                  </h4>
                  <p>{{tag.description | limitTo: 200}}{{tag.description.length > 200 ? '...' : ''}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
