<div class="row">
  <div class="col-md-12">
    <!--Question list-->
    <div class="tabs-warp question-tab">
      <!--Tab-->
      <ul class="tabs">
        <div class="col-md-8">
          <div class="input-group tag-search col-md-4">
            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" ng-change="tagsModel.search()" ng-model="tagsModel.searchTag" id="search-input"
                   class="form-control input-lg" placeholder="Tìm kiếm " autocomplete="off" spellcheck="false"
                   autocorrect="off"
                   tabindex="1">
          </div>
        </div>
      </ul>
    </div>
    <div class="row carousel slide" cg-busy="{promise:tagsModel.tagsPromise,message:'Onegai...',backdrop:true}">
      <div class="carousel-inner">
        <div class="item active" ng-repeat="tag in tagsModel.tags">
          <ul class="thumbnails">
            <li class="col-sm-3">
              <div class="fff">
                <div class="caption">
                  <h4>
                    <a>{{tag.name}}</a>
                    <span class="item-multiplier">
                      &nbsp;<span class="item-multiplier-x">×</span>&nbsp;
                      <span class="item-multiplier-count">{{tag.numberposts}}</span>
                    </span>
                  </h4>
                  <p>{{tag.description | limitTo: 200}}{{tag.description.length > 200 ? '...' : ''}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
