<div class="row">
  <div class="col-md-12">

    <div class="row subheader">
      <div class="col-md-9">
        <h4><strong>Users</strong></h4>
      </div>
      <div class="col-md-3 pull-right" id="tabs">
        <a ng-class="{youarehere : usersModel.sortOnNewUsers}" ng-click="usersModel.sort('new')">new users</a>
      </div>
    </div>

    <div class="row page-description">
  		<div class="col-md-12">
    		Type to find users: <input type="text" ng-change="usersModel.search()" ng-model="usersModel.searchUser"></input>
    	</div>
    </div>

    <div class="row tag-container">
    	<div class="col-md-3 user-info" ng-repeat="user in usersModel.userList.instance">
    		<div class="user-gravatar48">
    			<img ng-src="{{user.instance.profileImg}}" style="width:48px; height:48px; float:left"  />
    		</div>
    		<div class="user-details-info">
    			<a>{{user.instance.displayName}}</a>
    			<br>
    			<span class="user-location">{{user.instance.dt_create| date:"mediumDate"}}</span>
    			<br>
    		</div>
    	</div>
    </div>

	</div>
</div>    